.add-card-container input{
    border: none;
    border-radius: 2px;
    color: #666;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    height: 60%;
    padding-left: 1vw;
    width: 80%;
    outline:none;
    /* border:2px solid black; */
}

/* width */
.card-holder-container::-webkit-scrollbar {
    width: 0px;
    
  }
  
  /* Track */
  .card-holder-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .card-holder-container::-webkit-scrollbar-thumb {
    background: #cecdcd; 
    border-radius: 4px;
  }
  
  /* Handle on hover */
  .card-holder-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
    
  }